<%- partial('article_header.ejs', {post, post}) %> 
<div class="container">
    <div class="row justify-content-between">
        <div class="col-9">
            <div class="post-card p-4">
                <div class="article-content">
                    <%- post.content %>
                </div>
        
                <% if (theme.enable_gitalk) { %>
                    <div class="article-comments" id="comments">
                        <%- partial('comments.ejs') %>
                    </div>
                <% } %> 
        
                <%- partial('post_paginator.ejs', {post: post}) %> 
            </div>
        </div>
        <div class="col-3">
            <div class="container self-profile-card post-card p-0"> 
                <div class="row no-gutters" >
                    <div class="col-4 right-border no-gutters p-0" >
                        <img src="<%= theme.avatar %>">
                    </div>
            
                    <div class="col-8">
                        <div class="container my-4 no-gutters p-0">
                            <div class="intro">
                                <h6 class="intro-author font-bold my-2"><%= theme.author %></h6>
                                <p class="intro-description my-2"><%= theme.description %></p>
                            </div>
                                
                            <div class="row my-4 no-gutters">
                                <div class="col text-center">
                                    <p class="font-bold mb-1">文章</p>
                                    <p class="clear-margin"><%= site.posts.length %></p>
                                </div>
                                <div class="col col-border text-center">
                                    <p class="font-bold mb-1">分类</p>
                                    <p class="clear-margin"><%= site.tags.length %></p>
                                </div>
                                <div class="col text-center">
                                    <p class="font-bold mb-1">标签</p>
                                    <p class="clear-margin"><%- site.categories.length %> </p>
                                </div>
                            </div>        
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a id="back-to-top" class="btn btn-lg btn-box-shadow" href="#" role="button">
            <img src="<%= config.root %>./images/back-to-top.svg">
        </a>
    </div>
</div>