<div class="item">
    <div class="title">
        <a href="<%- post.link ? url_for(post.link) : url_for(post.path) %> ">
            <%= post.title %>
        </a>
        <div class="subtitle">
            <ul>
                <li>发布 <time datetime="<%- date_xml(post.date) %>" itemprop="date"><%- date(post.date) %></time>
                </li>
                <li>更新 <time datetime="<%- date_xml(post.updated) %>" itemprop="dateUpdated"><%- date(post.updated) %></time>
                </li>
            </ul>
        </div>
    </div>
</div>