<div class="jumbotron jumbotron-fluid header p-0">
    <div class="img-container">
        <div class="cover">

            <!-- 引导栏 -->
            <ul class="nav justify-content-end nav-btn fixed-top" id="navigation-bar">
                <% for (var menu in theme.menus) { %>
                    <% var segs = theme.menus[menu].split("||") %>
                    <% var class_type = is_home() && segs[0].trim() == '/' ? "nav-item vertical-border-btn active" : "nav-item vertical-border-btn" %>
                    <li class="<%= class_type %>">
                        <a href="<%- url_for(segs[0].trim()) %> ">
                            <% if (segs.length > 1) { %>
                                <i class="<%- segs[1].trim() %>" aria-hidden="true"></i>
                            <%  } %> 
                            <span><%= menu %></span>
                        </a>
                    </li>
                <% } %> 
            </ul>

            <!-- 头像和名字 -->
            <div class="container parent-size header-margin">
                <div class="container text-center">
                    <div class="profile-icon">
                        <img src="<%= theme.avatar %>">
                    </div>
                
                    <div class="intro">
                        <h2 class="intro-author"><%= theme.author %></h2>
                    </div>
                
                    <% if (theme.subtitle.length > 0) { %>
                        <div>
                            <span id="subtitle"></span>
                        </div>
                    <%} %> 
                </div>
            </div>

            <!-- 社交链接 -->
            <div class="container social-media">
                <ul class="nav justify-content-center social-btn">
                    <% for (var link in theme.links) { %>
                        <li class="nav-item">
                            <a href="<%- url_for(theme.links[link]) %>">
                                <img src="<%= config.root %>./images/<%- link %>.svg"/>
                            </a>
                        </li>
                    <% } %>
                </ul>
            </div>        
        </div>
    </div>
</div>

<script src= 
    "https://cdn.jsdelivr.net/npm/typed.js/lib/typed.min.js"> 
</script> 

<script>
    var leftBackgroundUrl = '<%- theme.leftBackground %>';
    var homeLeftAsideNode = document.getElementsByClassName('img-container')[0];
    if (homeLeftAsideNode) {
      homeLeftAsideNode.style.backgroundImage = 'url(' + leftBackgroundUrl + ')';
    }

    var sub = '<%- theme.subtitle %>';
    var typed = new Typed('#subtitle', {
        strings: [sub],
        startDelay: 300,
        typeSpeed: 150,
        loop: true,
        backSpeed: 50,
    });
</script>
    