<div class="jumbotron jumbotron-fluid header" style="background-color: aquamarine;">
    <div class="img-container">
        <div class="cover">

            <!-- 引导栏 -->
            <ul class="nav justify-content-end nav-btn">
                <% for (var menu in theme.menus) { %>
                    <li class="nav-item">
                        <a href="<%- url_for(theme.menus[menu]) %> ">
                            <img src="<%- theme.menu_icons[menu] %>"/>
                            <span><%= menu %></span>
                        </a>
                    </li>
                <% } %> 
            </ul>

            <!-- 头像和名字 -->
            <div class="container parent-size header-margin">
                <div class="container text-center">
                    <div class="profile-icon">
                        <img src="<%= theme.avatar %>">
                    </div>
                
                    <div class="intro">
                        <h2 class="intro-author"><%= theme.author %></h2>
                    </div>
                
                </div>
            </div>

            <!-- 社交链接 -->
            <div class="container social-media">
                <ul class="nav justify-content-center social-btn">
                    <% for (var link in theme.links) { %>
                        <li class="nav-item">
                            <a href="<%- url_for(theme.links[link]) %>">
                                <img src="images/<%- link %>.svg"/>
                            </a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    var leftBackgroundUrl = '<%- theme.leftBackground %>';
    var homeLeftAsideNode = document.getElementsByClassName('img-container')[0];
    if (homeLeftAsideNode) {
      homeLeftAsideNode.style.backgroundImage = 'url(' + leftBackgroundUrl + ')';
    }
</script>
    