<% if (page.total > 1) {%> 
    <div class="d-flex w-100 justify-content-center my-4">
    <ul class="homepage-paginator">
    <% if (page.current > 1) { %>
        <li class="homepage-page-item">
            <a class="homepage-page-link" href="<%= config.root %><%= page.prev_link %>"><</a>
        </li>
    <% } %>  

    <!-- 添加首页 -->
    <% if (page.current - 1 > 1) { %>
        <li class="homepage-page-item">
            <a class="homepage-page-link" href="<%= config.root %>index.html">1</a>
        </li>
    <% } %> 

    <!-- 添加首页 -->
    <% if (page.current - 2 > 1) { %>
        <li class="homepage-page-item">
            ...
        </li>
    <% } %> 

    <% for (var i = Math.max(1, page.current - 1); i <= Math.min(page.total, page.current + 1); i++) { %>
        <% var link = i == 1 ? config.root + "index.html" : config.root + "page/" + i + "/index.html" %> 
        <% if (i == page.current) { %>
            <li class="homepage-page-item active">
                <a class="homepage-page-link" href="<%= link %>"><%= i %></a>
            </li>
        <% } else { %> 
            <li class="homepage-page-item">
                <a class="homepage-page-link" href="<%= link %>"><%= i %></a>
            </li>
        <% } %>  
    <% } %> 

    <!-- 添加末页 -->
    <% if (page.current + 2 < page.total) { %>
        <li class="homepage-page-item">
            ...
        </li>
    <% } %> 

    <!-- 添加末页 -->
    <% if (page.current + 1 < page.total) { %>
        <li class="homepage-page-item">
            <a class="homepage-page-link" href="<%= config.root %>page/<%= page.total %>/index.html"><%= page.total %></a>
        </li>
    <% } %> 

    <% if (page.current < page.total) { %>
        <li class="homepage-page-item">
            <a class="homepage-page-link" href="<%= config.root %><%= page.next_link %>">></a>
        </li>
    <% } %> 
    </ul>
    </div>
<% } %> 