<% if (post.thumbnail) { %>
<!-- 带自定义图片的layout -->
<% var class_type = index % 2 == 0 ? "blog-card post-card" : "post-card blog-card alt post-ingredient-bg" %> 
<div class="<%- class_type %>">
    <div class="meta">
      <div class="photo" style="background-image: url('<%- post.thumbnail %>')"></div>
    </div>

    <% var description_type = index % 2 == 0 ? "description post-ingredient-bg" : "description post-ingredient-bg alt" %> 
    <div class="<%- description_type %>">
      <div>
      <a href="<%- post.link ? url_for(post.link) : url_for(post.path) %> ">
        <span id="title-content"><%= post.title %></span>
      </a>
      </div>

      <%- partial('_widget/post_info.ejs', {post: post}) %> 

      <div id="excerpt">
        <%- truncate(strip_html(post.content), {length: 200}) %>
      </div>

      <div>
        <a href="<%- post.link ? url_for(post.link) : url_for(post.path) %>" id="article-nav-next" class="read-more">
          <span class="article-nav-title">Read More</span>
        </a>
      </div>
    </div>
  </div>
<% } else { %>
    <!-- 不带自定义图片的layout -->
    <% var class_type = index % 2 == 0 ? "post-card plain-text-card post-ingredient-bg" : "post-card plain-text-card post-ingredient-bg" %> 
    <div class="<%- class_type %>">
        <div class="title">
            <a href="<%- post.link ? url_for(post.link) : url_for(post.path) %> ">
                <span id="title-content"><%= post.title %></span>
            </a>
            <% if (post.categories.length > 0) { %>
                <% post.categories.each(function(category, index) { %> 
                    <% if (index != 0) { %>
                      <span> < </span>
                    <% } %>
                    <a href="<%- config.root %><%- category.path %>"><span class="badge badge-primary"><%= category.name %></span></a>
                <% }) %>
            <% } %> 
        </div>

        <%- partial('_widget/post_info.ejs', {post: post}) %> 
  
        <div id="excerpt">
          <%- truncate(strip_html(post.content), {length: theme.auto_excerpt.length}) %>
        </div>

        <div>
          <a href="<%- post.link ? url_for(post.link) : url_for(post.path) %>" id="article-nav-next" class="read-more">
            <span>Read More</span>
          </a>
        </div>
    </div>
<% } %> 
