<% if (post.thumbnail) { %>
<!-- 带自定义图片的layout -->
<% var class_type = index % 2 == 0 ? "blog-card post-card" : "post-card blog-card alt" %> 
<div class="<%- class_type %>">
    <div class="meta">
      <div class="photo" style="background-image: url('<%- post.thumbnail %>')"></div>
    </div>
    <div class="description">
      <a href="<%- post.link ? url_for(post.link) : url_for(post.path) %> ">
        <span id="title-content"><%= post.title %></span>
      </a>
      <div id="excerpt">
        <%- truncate(strip_html(post.content), {length: 200}) %>
      </div>
      
      <div id="post-info">
        <span>
          <i class="fa fa-calendar" aria-hidden="true"></i>
          <span><%= post.date.format(config.date_format) %></span>
        </span>
        
        <% if (post.categories.length > 0) { %>
          <span> | </span>
          <span>
            <i class="fa fa-inbox" aria-hidden="true"></i>
            <%- list_categories(post.categories, {
              show_count: false,
              class: 'article-category',
              style: 'none',
              separator: ','
            }) %>
          </span>
        <% } %> 

        <% if (post.tags.length > 0) { %>
          <span> | </span>
          <span>
            <i class="fa fa-tags" aria-hidden="true"></i>
            <%- list_tags(post.tags, {
              show_count: false,
              class: 'article-tag',
              style: 'none',
              separator: ','
            }) %>
          </span>
        <% } %> 
        
      </div>

      <div>
        <a href="<%- post.link ? url_for(post.link) : url_for(post.path) %>" id="article-nav-next">
          <span class="article-nav-title">Read More</span>
        </a>
      </div>
    </div>
  </div>
<% } else { %>
    <!-- 不带自定义图片的layout -->
    <div class="post-card plain-text-card">
        <div class="title">
            <a href="<%- post.link ? url_for(post.link) : url_for(post.path) %> ">
                <span id="title-content"><%= post.title %></span>
            </a>
            <% if (post.categories.length > 0) { %>
                <% post.categories.each(function(category, index) { %> 
                    <a href="<%- config.root %><%- category.path %>"><span class="badge badge-primary"><%= category.name %></span></a>
                <% }) %>
            <% } %> 
        </div>
  
        <div id="excerpt">
          <%- truncate(strip_html(post.content), {length: theme.auto_excerpt.length}) %>
        </div>

        <div id="post-info">
          <span>
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <span><%= post.date.format(config.date_format) %></span>
          </span>
          
          <% if (post.categories.length > 0) { %>
            <span> | </span>
            <i class="fa fa-inbox" aria-hidden="true"></i>
            <span>
              <%- list_categories(post.categories, {
                show_count: false,
                class: 'article-category',
                style: 'none',
                separator: ','
              }) %>
            </span>
          <% } %> 

          <% if (post.tags.length > 0) { %>
            <span> | </span>
            <span>
              <i class="fa fa-tags" aria-hidden="true"></i>
              <%- list_tags(post.tags, {
                show_count: false,
                class: 'article-tag',
                style: 'none',
                separator: ','
              }) %>
            </span>
          <% } %> 
          
        </div>
        <div>
          <a href="<%- post.link ? url_for(post.link) : url_for(post.path) %>" id="article-nav-next">
            <span class="article-nav-title">Read More</span>
          </a>
        </div>
    </div>
<% } %> 
